/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px; /*50px;*/
  font-family: verdana;
}

/* Uncomment below if navbar if not fixed at top, and need to have top of first header fluch with navbar */
.navbar {
  margin-bottom: 0px; /* default is 20px from bootsrap.css */
}

/*div#header{background: #3399FF; }*/
/*div#header{background: blueviolet; }*/
/*div#header h1{color: #fff}*/

.bs-docs-header{
    position:relative;padding:30px 15px;color:#cdbfe3;text-align:center;text-shadow:0 1px 0 rgba(0,0,0,.1);
    background-color:#6f5499;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image:-o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat:repeat-x}
.bs-docs-masthead .bs-docs-booticon{margin:0 auto 30px}.bs-docs-masthead h1{font-weight:300;line-height:1;color:#fff}.bs-docs-masthead .lead{margin:0 auto 30px;font-size:20px;color:#fff}.bs-docs-masthead .version{margin-top:-15px;margin-bottom:30px;color:#9783b9}.bs-docs-masthead .btn{width:100%;padding:15px 30px;font-size:20px}@media (min-width:480px){.bs-docs-masthead .btn{width:auto}}@media (min-width:768px){.bs-docs-masthead{padding:80px 0}.bs-docs-masthead h1{font-size:60px}.bs-docs-masthead .lead{font-size:24px}}@media (min-width:992px){.bs-docs-masthead .lead{width:80%;font-size:30px}}
.bs-docs-header{margin-bottom:20px;font-size:20px}
.bs-docs-header h1{margin-top:0;color:#fff}
.bs-docs-header p{margin-bottom:0;font-weight:300;line-height:1.4}
.bs-docs-header .container{position:relative}@media (min-width:768px){
        .bs-docs-header{padding-top:30px;padding-bottom:30px;font-size:24px;text-align:left}
        .bs-docs-header h1{font-size:60px;line-height:1}}@media (min-width:992px){.bs-docs-header h1,.bs-docs-header p{margin-right:380px}
        }

        .form-control.btn{
            background-color: lavender;
        }
        
/*#right {
	float: left;
	width: 76%;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
}

#left {
	float: right;
	width: 20%;
	margin: 0 0 10px 0;
	
}

#left .box {
	
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
}*/


/*#content {
    font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
    margin: 0 auto;
    margin-left: 200px;
    padding: 20px;
    background: #fff;
    float: start;
}*/


/*ul {  padding: 0; margin: 0;}
li { list-style-type: none;}*/

/*input[type="text"] {    height:  30px; font-size: 20px; font: 110%/1.3 TrebuchetMS,Arial,sans-serif}
input[type="password"] {    height:  30px; font-size: 20px; font: 110%/1.3 TrebuchetMS,Arial,sans-serif}
input[type="email"] {    height:  30px; font-size: 20px; font: 110%/1.3 TrebuchetMS,Arial,sans-serif}*/

/*.styled-upload select {   
   width: 260px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;      
   height: 34px;   
   font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
   }

.styled-upload input[type="text"] {   
   width: 260px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;      
   height: 20px;   
   font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
   }
.styled-upload input[type="date"] {   
   width: 260px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;      
   height: 20px;   
   font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
   }
   
.styled-upload textarea {   
   width: 260px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;      
   height: 100px;   
   font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
   }
   
.styled-index input[type="text"] {   
   width: 260px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;      
   height: 20px;   
   font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
   }
   
.styled-index select {   
   width: 260px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;      
   height: 34px;   
   font: 110%/1.3 TrebuchetMS,Arial,sans-serif;
   }*/
  
   .ui-tooltip {
    background: #66b2ff; //if you change this color, the color of arrow next to the tool tip must also be changed in ::after part
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    text-align: center;    
}


.ui-tooltip-content {
    position: relative;
    padding: 1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #66b2ff;
    border-width: 10px 10px 10px 0;
    color: #3399FF;
}

/*table {
    border-collapse: collapse;
    width: 40%;
}*/

/*table, th, td {
    border: 1px solid black;
    padding: 5px;
    height: 50px;
}*/


/*th{
    background-color: #036DA7;
    color: white;
    height: 30px;
}*/

/*tr:nth-child(even) {
    background-color: #E7F1F8;
}*/

.rtiprofile h1{    
    font: bold 1.8em Arial, Arial, Sans-Serif; color: #036DA7 ;    
    font-style:  oblique;
}    
    
.rtiprofile {    
    margin-left: 200px;
    width: 50%;
}

.rtidates {    
    float:right;
    color: gray;
    font-style: italic;
    font-size:  small;
}
.uploaddata {        
    color: gray;
    font-style: italic;
    font-size:  small;
}
.highlighttag{    
    
    background-color:#61c4b8;
    
}

.rtipageviews {    
    margin-left: 200px;
    float: bottom;    
    margin-top:  10%;
    color: gray;
    font-style: italic;
    font-size:  small;
}

.rtidoc{
    display:inline-block; 
    word-wrap: break-word;
    width:200px;
}
/*styling for progress bar on upload     */
progress {
    min-width: 500px;
    height: 15px;
    margin: 20px;
    display: block;
    -webkit-appearance: none;
    border: none;
}


progress::-webkit-progress-bar {
	background: #eee;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
        
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #0066b3, #0066b3);
	background-size: 25px 14px, 100% 100%, 100% 100%;	
}

.progresslabel {
    font-family: "Arial";
    position: relative;
    left: 490px;
    top: -38px;
    font-size: smaller;
    color: #0066B3;
}

#footer {
    margin-top: 20px;
    text-align: center;
}
